.footer {
  position: relative;
  left: 0;
  bottom: 0;
  min-height: 200px;
  background-color: #00573f;
  color: white;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Graphik;
  display: grid;
  height: 20vh;
  grid-column-gap: 30px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer1 footer2 footer3";
}
